<div class="py-12 bg-gray-100 w-full">
  <div class="px-4 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-medium leading-7 text-gray-900 mb-4 poppins-bold">Why Limco?</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

      <div class="flex flex-col p-6 ">
        <%= render 'affordable' %>
        <h3 class="mb-2 text-lg font-medium text-gray-900 poppins-semibold poppins-semibold">Affordable</h3>
        <p class="text-md text-gray-600 poppins-light">We offer competitive pricing to <span class="show-small"> <br></span> ensure our services fit within <span class="show-small"> <br></span> your budget, without compromising <span class="show-small"> <br></span> on quality or service.</p>
      </div>

      <div class="flex flex-col p-6">
        <%= render 'experience' %>
        <h3 class="mb-2 text-lg font-medium text-gray-900 poppins-semibold">Experience</h3>
        <p class="text-md text-gray-600 poppins-light">We have been doing this long enough to know how to achieve the client's needs and wants. Additionally, we’ve picked up a few tips and tricks along the way.</p>
      </div>

      <div class="flex flex-col p-6">
        <%= render 'quality' %>
        <h3 class="mb-2 text-lg font-medium text-gray-900 poppins-semibold">Quality</h3>
        <p class="text-md text-gray-600 poppins-light">We guarantee excellent results <span class="show-small"> <br></span> with skilled work and high-quality equipment.</p>
      </div>

      <div class="flex flex-col p-6">
        <%= render 'reliable' %>
        <h3 class="mb-2 text-lg font-medium text-gray-900 poppins-semibold">Reliable</h3>
        <p class="text-md text-gray-600 poppins-light">Our dedicated team ensures consistent, high-quality <span class="show-small"> <br></span> service with every visit.</p>
      </div>

      <div class="flex flex-col p-6">
        <%= render 'phone' %>
        <h3 class="mb-2 text-lg font-medium text-gray-900 poppins-semibold">Easy Online Booking</h3>
        <p class="text-md text-gray-600 poppins-light">Book your car wash in just a <span class="show-small"> <br></span> few clicks, making it quick and convenient to secure your spot.</p>
      </div>

      <div class="flex flex-col p-6">
        <%= render 'friendliness' %>
        <h3 class="mb-2 text-lg font-medium text-gray-900 poppins-semibold">Friendliness</h3>
        <p class="text-md text-gray-600 poppins-light">With a friendly touch, we ensure <span class="show-small"> <br></span> each car wash is done to the <span class="show-small"> <br></span> highest standard, leaving you <span class="show-small"> <br></span> with a smile every time.</p>
      </div>
    </div>
  </div>
</div>
