<%= form_with model: @booking, url: bookings_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :service_id, value: @service.id %>

  <!-- Vehicle Type Selection -->
  <div class="mb-4">
    <%= f.label :vehicle_type_id, "Select Vehicle Type" %>
    <%= f.select :vehicle_type_id, @vehicle_types.collect { |v| [v.name, v.id] }, { include_blank: true }, { id: "vehicle_type_select", onchange: "this.form.submit();" } %>
  </div>

  <!-- Display the price if a vehicle type is selected -->
  <% if @price %>
    <p id="price_display">Price: $<%= @price.price %></p>
  <% else %>
    <p id="price_display">Select a vehicle type to see the price.</p>
  <% end %>

  <!-- Booking Date with Flatpickr -->
  <div class="mb-4">
    <%= f.label :booking_date, "Booking Date" %>
    <%= f.text_field :booking_date, class: "border p-2 w-full booking_date", required: true, data: { controller: "flatpickr" } %>
  </div>

  <!-- Booking Time with Flatpickr -->
  <div class="mb-4">
    <%= f.label :booking_time, "Booking Time" %>
    <%= f.text_field :booking_time, class: "border p-2 w-full booking_time", required: true, data: { controller: "flatpickr" } %>
  </div>

  <!-- Phone Number -->
  <div class="mb-4">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: "border p-2 w-full", required: true %>
  </div>

  <!-- Submit Button -->
  <div class="mb-4">
    <%= f.submit "Make Booking", class: "bg-blue-500 text-white px-4 py-2 rounded-lg" %>
  </div>
<% end %>
