<div class="container mx-auto px-4 sm:px-6 lg:px-8">
  <div class="py-3 sm:py-6 lg:py-8 flex justify-center">
    <h1 class="text-2xl font-medium leading-7 text-gray-900 sm:text-xl sm:leading-9 lg:text-2xl lg:leading-10 tracking-tight">
      <%= @service.name %> - <%= @service.formatted_duration %>
    </h1>
  </div>

  <%= form_with model: @booking, url: bookings_path, method: :post, local: true do |f| %>

    <%= f.hidden_field :service_id,
        value: @service.id,
        data: { duration: @service.duration }
    %>

    <%= f.hidden_field :service_id, value: @service.id %>
    <div class="mb-4 mt-1">
      <%= f.label :vehicle_type_id, "Select Vehicle", class: "poppins-medium block text-sm font-normal text-gray-700" %>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 mb-5">
        <!-- Sedan -->
        <div class="flex flex-col items-center p-4">
          <%= f.radio_button :vehicle_type_id, VehicleType.find_by(name: "Hatchback & Sedan").id, id: "vehicle_sedan", class: "hidden peer", required: true %>
          <label for="vehicle_sedan" class="w-50 h-40 flex flex-col items-center justify-center cursor-pointer transition peer-checked:border-indigo-500 peer-checked:ring-2 peer-checked:ring-indigo-500 border border-gray-400 rounded-lg hover:border-indigo-700">
            <!-- Icon on top -->
            <img width="40" height="40" src="https://img.icons8.com/ios/100/sedan.png" alt="sedan" />
            <!-- Text below the icon -->
            <span class="mt-2 text-center text-sm peer-hover:text-blue-800">
              Hatchback or Sedan <br>
              <% @service.name %>
              <% @vehicle_type = VehicleType.find_by(name: "Hatchback & Sedan") %>
              <% @vehicle_type.name %>
              <% @price = Price.find_by(service_id: @service.id, vehicle_type_id: @vehicle_type.id) %>
              <%= @price ? raw("<span class='font-bold'>$#{'%.2f' % @price.price}</span>") : "Price not available" %>
            </span>
          </label>
        </div>

        <!-- SUV -->
        <div class="flex flex-col items-center p-4">
          <%= f.radio_button :vehicle_type_id, VehicleType.find_by(name: "Wagon & MidSize SUV").id, id: "vehicle_suv", class: "hidden peer", required: true %>
          <label for="vehicle_suv" class="w-50 h-40 flex flex-col items-center justify-center cursor-pointer transition peer-checked:border-indigo-500 peer-checked:ring-2 peer-checked:ring-indigo-500 border border-gray-400 rounded-lg hover:border-indigo-700">
            <!-- Icon on top -->
            <img width="40" height="40" src="https://img.icons8.com/ios/50/suv.png" alt="suv" />
            <!-- Text below the icon -->
            <span class="mt-2 text-center text-sm peer-hover:text-blue-500">
              Wagon or MidSize SUV <br>
              <% @vehicle_type = VehicleType.find_by(name: "Wagon & MidSize SUV") %>
              <% @price = Price.find_by(service_id: @service.id, vehicle_type_id: @vehicle_type.id) %>
              <%= @price ? raw("<span class='font-bold'>$#{'%.2f' % @price.price}</span>") : "Price not available" %>
            </span>
          </label>
        </div>

        <!-- Ute -->
        <div class="flex flex-col items-center p-4">
          <%= f.radio_button :vehicle_type_id, VehicleType.find_by(name: "Large SUV & UTE").id, id: "vehicle_ute", class: "hidden peer", required: true %>
          <label for="vehicle_ute" class="w-50 h-40 flex flex-col items-center justify-center cursor-pointer transition peer-checked:border-indigo-500 peer-checked:ring-2 peer-checked:ring-indigo-500 border border-gray-400 rounded-lg hover:border-indigo-700">
            <!-- Icon on top -->
            <img width="40" height="40" src="https://img.icons8.com/ios/50/pickup.png" alt="pickup" class='mb-4' />
            <!-- Text below the icon -->
            <span class="mb-4 text-center text-sm peer-hover:text-blue-500">
              Large SUV or UTE <br>
              <% @vehicle_type = VehicleType.find_by(name: "Large SUV & UTE") %>
              <% @price = Price.find_by(service_id: @service.id, vehicle_type_id: @vehicle_type.id) %>
              <%= @price ? raw("<span class='font-bold'>$#{'%.2f' % @price.price}</span>") : "Price not available" %>
            </span>
          </label>
        </div>

        <!-- Van -->
        <div class="flex flex-col items-center p-4">
          <%= f.radio_button :vehicle_type_id, VehicleType.find_by(name: "Extra Large SUV & Van").id, id: "vehicle_van", class: "hidden peer", required: true %>
          <label for="vehicle_van" class="w-50 h-40 flex flex-col items-center justify-center cursor-pointer transition peer-checked:border-indigo-500 peer-checked:ring-2 peer-checked:ring-indigo-500 border border-gray-400 rounded-lg hover:border-indigo-700">
            <!-- Icon on top -->
            <img width="40" height="40" src="https://img.icons8.com/ios/50/van.png" alt="van" class='mb-1' />
            <!-- Text below the icon -->
            <span class="mb-1 text-center text-sm peer-hover:text-blue-500">
              Extra Large SUV or Van <br>
              <% @vehicle_type = VehicleType.find_by(name: "Extra Large SUV & Van") %>
              <% @price = Price.find_by(service_id: @service.id, vehicle_type_id: @vehicle_type.id) %>
              <%= @price ? raw("<span class='font-bold'>$#{'%.2f' % @price.price}</span>") : "Price not available" %>

            </span>
          </label>
        </div>
      </div>
    </div>

    <!-- Booking Date & time Flatpickr -->
    <div class="mb-4">
      <%= f.label :booking_datetime, "Date & Time", class: "poppins-medium block text-sm font-normal text-gray-700 mb-1" %>
      <%= f.text_field :booking_datetime,
                      # class: " p-2 w-full rounded-xl",
                      class: "border p-2 w-full rounded-xl shadow-sm border-gray-600",
                      required: true,
                      data: {
                        controller: "flatpickr",
                        flatpickr_duration_value: @service.duration
                      },
                      autocomplete: "off"
      %>
    </div>

    <!-- Phone Number -->
    <div class="mb-6">
      <%= f.label :phone, class: "poppins-medium block text-sm font-normal text-gray-700 mb-1" %>
      <%= f.text_field :phone,
      class: "border p-2 w-full rounded-xl shadow-sm border-gray-600",
      required: true,
      placeholder: "0406123456",
      autocomplete: "off"
        %>
    </div>

    <!-- Submit Button -->
  <div class="mb-6 mt-2">
  <%= f.submit "Book your Wash", class: "poppins-medium button-colour text-white font-light px-4 py-1 rounded-lg cursor-pointer transition-all focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-offset-2 active:scale-95" %>
  </div>

  <% end %>
</div>
