<!-- app/views/bookings/show.html.erb -->
<h1>Booking Details</h1>

<p>
  <strong>Name:</strong>
  <%= @booking.user.first_name %> <%= @booking.user.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @booking.phone %>
</p>

<p>
  <strong>Vehicle Type:</strong>
  <%= @booking.vehicle_type.name %>
</p>

<p>
  <strong>Service:</strong>
  <%= @booking.service.name %>
</p>

<p>
  <strong>Booking Date:</strong>
  <%= @booking.booking_date.strftime("%B %d, %Y") %>
</p>

<p>
  <strong>Booking Time:</strong>
  <%= @booking.booking_time.strftime("%I:%M %p") %>
</p>

<p><strong>Price:</strong> $<%= @booking.price.price %></p>

<%= link_to 'Back to Bookings', root_path, class: 'btn btn-primary' %>
