<div class="container mt-5">
  <h1 class="text-center mb-4">Booking Details</h1>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-3">Booking Confirmation</h5>

      <div class="row mb-2">
        <div class="col-md-4"><strong>Name:</strong></div>
        <div class="col-md-8"><%= @booking.user.first_name %> <%= @booking.user.last_name %></div>
      </div>

      <div class="row mb-2">
        <div class="col-md-4"><strong>Phone:</strong></div>
        <div class="col-md-8"><%= @booking.phone %></div>
      </div>

      <div class="row mb-2">
        <div class="col-md-4"><strong>Vehicle Type:</strong></div>
        <div class="col-md-8"><%= @booking.vehicle_type.name %></div>
      </div>

      <div class="row mb-2">
        <div class="col-md-4"><strong>Service:</strong></div>
        <div class="col-md-8"><%= @booking.service.name %></div>
      </div>

      <div class="row mb-2">
        <div class="col-md-4"><strong>Booking Date:</strong></div>
        <div class="col-md-8"><%= @booking.booking_date.strftime("%B %d, %Y") %></div>
      </div>

      <div class="row mb-2">
        <div class="col-md-4"><strong>Booking Time:</strong></div>
        <div class="col-md-8"><%= @booking.booking_time.strftime("%I:%M %p") %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4"><strong>Price:</strong></div>
        <div class="col-md-8 text-success">$<%= @booking.price.price %></div>
      </div>

      <div class="text-center">
        <%= link_to 'Back to Bookings', root_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
